<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Generic PC store</title>
    <link rel="stylesheet" href="~/main.css" />
</head>
<body>
    <div class="container">
        <header>
            <a href="/Home/Index">
                <h4 class="mainMenuButton">Főmenü</h4>
            </a>
            <nav>
                <ul>
                    <li><a href="/Home/AdminIndex">Admin mód</a></li>
                    <li><a href="/Home/UserIndex">User mód</a></li>
                    <li><a href="/Home/GenerateData">Minta adatok betöltése</a></li>
                </ul>
            </nav>
        </header>
        <div class="mainText">
            <h1>Admin főoldal</h1>
            <h2>Termékek kezelése: </h2>
            <a href="/Home/AddProduct">Új termék</a> <br />
            <a href="/Home/ListProducts">Termék lista</a> <br />
            <h2>Vásárlók kezelése:</h2>
            <a href="/Home/AddCustomer">Új vásárló</a> <br />
            <a href="/Home/ListCustomers">Vásárlók listája</a> <br />
            <h2>Rendelések kezelése:</h2>
            <a href="/Home/AddOrder">Új rendelés</a> <br />
            <a href="/Home/ListOrders">Rendelések listája</a> <br />
            <h2>Non-CRUD</h2>
            <a href="/Home/ExpensiveOrders">100.000-nél drágább rendelések</a> <br />
            <a href="/Home/LongestCustomerProducts">Legrégebbi vásárló termékei</a> <br />
            <form action="/Home/CustomersOfManufacturer" method="post">
                <p>Adott márka vásárlóinak keresése:</p>
                <input type="text" name="manufacturer" value="" />
                <input type="submit" name="com" value="Keresés" />
            </form>

        </div>
    </div>
</body>
</html>
