@model Models.Order
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Generic PC store</title>
    <link rel="stylesheet" href="~/main.css" />
</head>
<body>
    <div class="container">
        <header>
            <a href="/Home/Index">
                <h4 class="mainMenuButton">Főmenü</h4>
            </a>
            <nav>
                <ul>
                    <li><a href="/Home/AdminIndex">Admin mód</a></li>
                    <li><a href="/Home/UserIndex">User mód</a></li>
                    <li><a href="/Home/GenerateData">Minta adatok betöltése</a></li>
                </ul>
            </nav>
        </header>
        <div class="mainText">
            <h1>Rendelések szerkesztése</h1>
            <form action="/Home/EditOrder" method="post">
                Rendelés ID (nem szerkeszthető): <br />
                <input type="text" name="orderID" value="@Model.OrderID" readonly/> <br />
                Rendelt mennyiség: <br />
                <input type="number" name="OrderedQuantity" value="@Model.OrderedQuantity" /> <br />
                Rendelés ideje (nem szerkeszthető):<br />
                <input type="datetime" name="OrderDate" value="@Model.OrderDate" readonly/><br />
                Megjegybzés: <br />
                <input type="text" name="Comment" value="@Model.Comment" />
                <input type="submit" value="Rendelés szerkesztése" />
            </form>
        </div>
    </div>
</body>
</html>
